*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
  height: 50px;
  width: 100%;
  background: #F5DB3C;
  
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:-50px;

  
  
}
.nav-item{
    margin-right: 33px;
    padding: 0px 1px;
    font-weight: 600;
}

.nav-item a{
  color: black;
  text-decoration: none;
  
}

.nav-ul  a:hover{
  color: red;
  
}

.home-icon{
  font-size: 25px;
  color: black;
}
.nav-dropdown{
  position: relative;
  display: inline-block;
  text-align: center;
}
.dropdown-ul{
  padding: 0;
  width: 168px;
  height: 362px;
  display: none;
  position: absolute;
  left: -30px;
  top: 28px;
  list-style: none;
  color: white;
  background-color: #000;
  text-align: center;
  border-radius: 14px;
  font-family: "Faustina";
  font-size: 14px;
  font-weight: 400;

}

.dropdown-items {
  margin: 10px;
  display: block;
  
}

.nav-dropdown:hover .dropdown-ul{
  display: block;
}

.dropdown-items a{
  color: white;
}
.nav-ind{
display: none;
}
.search_btn{
  font-size: 18px;
}
.search_btn:hover{
    color:red;
    
}

.fa-x{
  display: none;
}

.nav-ind{
  display: none;
}

@media screen and (max-width : 450px){
  .nav-ul{
    position: absolute;
    left: 106px;
    flex-direction: column;
    width: 372px;
    height: 784px;
    background-color: #F5DB3C;
    justify-content:space-evenly;
    align-items:flex-start;
    display: none;

  }
  .search_btn{
    display: none;
  }

  .nav-ind{
    display: block;
  }
  .ind h3{
    display: block;
    background-color:#E62C00;
    color: white;
  }
  .fa-x{
    display: block;
    position: absolute;
    bottom: 750px;
    left: 280px;
    cursor: pointer;
  }

  .nav-ind{
    display:block;
    margin-top: 45px;
  }
  .nav-item{
    padding:15px;
  }

  .nav-dropdown a{
    margin-left: 15px;
  }
}